.pagination {
  :global {
    .selected a {
      color: white;
      background-color: #fe5f1e;
    }
    a:hover {
      color: white;
      background-color: #fe5f1e;
    }
    .disabled a {
      border: 1px solid grey;
      color: grey;
      cursor: auto;
    }
    li.disabled a:hover {
      color: grey;
      background-color: transparent;
    }
  }
  li {
    display: inline-block;
  }
  a {
    color: #fe5f1e;
    font-weight: 700;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #fe5f1e;
    display: inline-flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all ease 0.3s;
    cursor: pointer;
    @media (max-width: 500px) {
      margin-right: 10px;
      width: 35px;
      height: 35px;
    }
  }
}
