.input__container {
  position: relative;
  flex: 0 1 45%;
  @media (max-width: 1100px) {
    order: 1;
    flex: 0 0 50%;
    display: block;
    margin: 0 auto;
  }
}
.input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 32px;
  border-radius: 10px;
  min-width: 300px;
  @media (max-width: 500px) {
    min-width: auto;
  }
  width: 100%;
  font-size: 16px;
  background-image: url('./img/searchIcon.svg');
  left: 0;
  top: 0;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.searchIcon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(0, -50%);
}

.clearIcon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 5%;
  color: #3c3c3c;
  top: 50%;
  transform: translate(0, -50%);
  transition: all ease 0.3s;
  &_none {
    display: none;
  }
  &:hover {
    transform: scale(1.1) translate(0, -50%);
  }
}
